.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: "Winky Rough", sans-serif;
  width: 100%;
  left: 0;
  top: 0;
}

.logo {
  font-size: 1rem;
}
.logo a {
  text-decoration: none;
  color: #fff;
}

.contact {
  display: flex;
  gap: 1rem;
}

.list {
  display: flex;
  list-style: none;
  width: 100%;
  align-items: flex-end;
}

.list li {
  font-size: 0.75rem;
}

.list li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.5s ease, transform 0.5s ease;
}

.list li a h2 {
  transition: transform 0.5s ease, color 0.5s ease;
  padding: 1rem 2rem;
}

.list li a h2:hover {
  transform: translateY(-10px);
  color: #00e6b8;
}
