.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 150px;
  border-radius: 0.75rem;
  overflow: hidden;
  color: #fff;
  background-size: cover;
  background-position: center;
  border: 1px solid #808080;
}

.card:hover {
  border: 1px solid #ccc;
}
