.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 200px;
  border-radius: 1rem;
  overflow: hidden;
  color: #fff;
  background-color: #000;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cardImg {
  height: 150px;
}

.cardImg img {
  width: 100%;
}

.cardHeader {
  padding: 0.25rem;
  text-align: center;
}

.cardInfo {
  text-align: center;
}
