/* Resetowanie domyślnych marginów i paddingów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Winky Rough", sans-serif;
}

body {
  background-image: url("../../public/background2.jpg");
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1% 1% 0% 1%;
}

/* WebKit browsers: Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(10, 20, 20, 0.4);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #00ffe0, #00ffb7);
  border-radius: 10px;
  border: 2px solid rgba(10, 20, 20, 0.4);
  box-shadow: 0 0 6px rgba(0, 255, 183, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #00fff2, #00ffb7);
  box-shadow: 0 0 10px rgba(0, 255, 183, 0.7);
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #00ffb7 rgba(10, 20, 20, 0.4);
}
